
* {
    margin: 0;
    padding: 0;
}

@mixin flex-d($direction) {
    display: flex;
    flex-direction: $direction;
}

.reset-m-p {
    margin: 0px;
    padding: 0px;
}


/* HEADER */

header {   
    position: sticky;
    top: 0px;
    z-index: 5;
    padding-top: 30px;
}



/* MENU HAMBURGUESA */

.menuHamburg {
    @include flex-d(row);
    justify-content: space-between;
    margin-bottom: 5px;
    .pos-f-t li {
        padding: 5px;
        margin-bottom: 5px;
    }
}

header .navbar {
    @extend .reset-m-p;
}


/* MENU DESKTOP */

.stickyNav {
    align-items: center;
}

.navMedia {
    order: 3;
    @include flex-d(row);
}

.logo-main {
    margin: {
    left: 40%;
    bottom: 15px;
    top: -5px;
    }
}

.social-icon {
    padding-left: 10px;
}

header nav ul {
    @include flex-d(row);
    li {
        padding: 10px;
        margin: 0px 10px;
    }
}

.div-pink {
    @extend .reset-m-p;
}

/* WELCOME INDEX */

.welcomeContainer .bg {
    
        background-image: url("../assets/images/background-agenda.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 0px 100px 50px;
    
}

.welcomeContainer__artWelcomeIndex--flex {
    @include flex-d(column);
  }
  
  .divText__h1--boxmod {
    margin-top: 50px;
      padding-bottom: 70px;
  }
  
  .divText__h2--margin{
    margin-left: 40px;
  }
  
  .divText__p--margin{
    margin-top: 80px;
    margin-left: 40px;
  }
  
  /* FORM INDEX */

.wppIndex {
    height: 150px;
    padding-left: 50px;
}

.formIndex h4 {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid $rosalogo;
    border-radius: 10px;
}


.formIndex {

    align-items: center;
    padding-left: 50px;

    .formIndex__p--boxmodel {
        padding: {
            top: 50px;
            bottom: 20px;
        }
    }
    .formIndex__img--boxmodel {
        top: -70px;
        align-self: center;
        margin-left: 50px;
    }
}

form label {
    margin-left: 30px;
}

.inputIndex {
    padding-left: 4px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.formIndex .submit {
    left: 200px;
}

.submit {
    display: block;
    position: relative;
    margin:30px;
}


/* footer */

footer {
    
    .footer__h3--boxmodel {
        padding: 20px;
        margin: 0px;
    }
    .dropdown {
        display: none;
    }
}

.footerNav {
    margin-top: 20px;
    padding-left: 50px;
}


.flexFooterSocial {
    position: relative;
    @include flex-d(row);
}


.container-fluid__legals--boxmodel {
    margin: 10px 15px;
    .legals__p--boxmodel  {
        padding-left: 10px;
    }
}


/* ABOUT US */  

/* WELCOME ABOUT US */

.aboutus {
    height: 100%;
}

.aboutus .bg {
    background-image: url("../assets/images/background-aboutus.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 50px 50px;
}


.containerAboutUsText {
    @include flex-d(column);
    justify-content: space-between;
    margin-right: 0px;

    h2 {
        padding-left: 30px;
        padding-bottom: 20px;
    }

    p {
        margin: 0px 25px;
        padding: 15px;

    h6 {
        margin-top: 40px;
    }
    }
}


/* HOW WE WORK */

.howWeWork {

    article h2 {
        padding: 50px;
        margin-top: -5px;
    }

    div {
        display: grid;
        grid-template-areas: 
        "titulo-how imagen-how"
        "descripcion-how descripcion-how";
        grid-template-columns: 200px auto;
        grid-template-rows: 120px 80px;
        margin: 0px 0px 50px 50px;
        position: relative;
        align-items: center;

        h3 {
            grid-area: titulo-how;
        }

        img {
            grid-area: imagen-how;
            justify-self: start;
        }

        p {
            grid-area: descripcion-how;
        }
    }


}


/* MODELOS */

.backModelos {
    display: block;
}

/* MODAL */ 

.modal-header {
    padding-left: 40px;
}

.buttonModal {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
}

.modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

/* CAROUSEL */

.carrouselCustom img {
   padding: 3px;
}

/* ACCORDION */

#accordion {
    padding-bottom: 30px;
    article {
        padding-top: 10px;
    }
}


/* NAV MODELOS */

    #white-diary {
        display: block;
        position: relative;
        top: -30px;
        margin: auto;
        margin-bottom: -30px;
        padding-bottom: 10px;
    }

.navModelos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* MAIN MODELOS */

.containerModelos {
    .row {
        padding: 20px 40px;
        align-items: center;
    }
    h3 {
        margin-top: 30px;
    }
    p {
        padding-top: 15px;
    }
}


.flexList {
    @include flex-d(row);
    padding-left: 20px;
}

.listText {
    padding-left: 15px;
}

.listText li {
    padding-top: 10px;
}

.imgModelos {
    padding-left: 60px;
}

.imgModelos:hover {
    z-index: 15;
}

.containerImgModelos div img {
    padding-left: 60px;
}

.containerImgModelos div img:hover {
    z-index: 15;
}


/*ENCUADERNADOS*/

.imgEncuadernados {
    padding-top: 50px;
    padding-left: 100px;
}

.container-fluid iframe {
    padding-top: 50px;
}


.purple-div {
    position: relative;
    margin-top: 50px;
    margin: auto;
}


/* CONTACTO */

/* SECCION REDES */

.secRedes--boxmodel {
    margin: 50px 0px 50px 0px;
}

.artRedes__redesGroup--boxmodel {
    @include flex-d(row);
    justify-content: center;
    padding-top: 35px;
}

.redesGroup__divRedes {
    padding-right: 25px;
    padding-left: 25px;
}

/* MAIN SECTION CONTACTO  */


.contactanosDiv {
    h1 {
        padding: 40px;
        margin-bottom: 0px;
    }
    p {
        margin-top: 40px;
        padding-left: 50px;
    }
}

.contactoLi {
    padding-left: 120px;
    h3 {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    li {
    padding-bottom: 50px;
    }
}



/* FORM CONTACT */

#contact form {
    margin: 30px;
    @include flex-d(column);
    justify-content: space-evenly;
    fieldset div {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

input[type="radio"] {
    margin: 15px 20px 20px 30px;
  }

  input[type="checkbox"] {
    margin: 10px 15px 10px 30px;
  }

legend {
    padding: 15px;
}

.textArea {
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.textArea::placeholder {
    padding: 5px;
}

.cierreContact__h1--boxmodel {
    padding-top: 25px;
}

.cierreContact__p--boxmodel {
    padding-top: 30px;
}


/* 404 */

.container404 {

    h1 {
        padding-bottom: 30px;
        padding-top: 50px;
    }

    h2 {
        padding-bottom: 50px;
    }

    .button404 {
        padding-top: 20px;
    }

}

