
/*VAR COLORS */

$gris: rgb(117, 110, 110);
$rosaviejo1: rgb(212, 147, 158);
$rosaviejo2: rgb(231, 172, 182);
$backrosaclaro: rgb(245, 226, 226);
$rosalogo: rgb(248, 128, 198);
$violetatitulos: rgb(177, 72, 140);
$violetaoscuro: rgb(139, 77, 129);

$colores-propios: (
    rosaviejo1: $rosaviejo1,
    rosaviejo2: $rosaviejo2,
    rosaclaro: $backrosaclaro
);

a {
    color: unset;
}

/* HEADER */

header {
    background-color: white;
}

/* MENU HAMBURGUESA */

.menuHamburg {
    .pos-f-t li {
    color:$rosaviejo2;
    background-color:$backrosaclaro;
    a {
        text-decoration: none;
        color: $rosaviejo2;
    }
    }
}


/* MENU DESKTOP */


header nav ul li{
    background-color:$backrosaclaro;
    color: $rosaviejo2;
}

header nav ul li a:hover {
    color: $rosalogo;
    transition: 1s;
}

.div-pink {
    background-color: pink;
}

/* WELCOME INDEX */
  
  .divText__h1--font{
    color: $rosaviejo1;
  }
  
  .divText__h2--font{
    color: $rosalogo;
  }
  
  .divText__p--font{
    color:$violetatitulos;
  }

  /* FORM INDEX */

.formIndex h4 {
    color: $rosalogo;
    background-color: white;
    a {
        text-decoration: none;
        transition: 1s;
        &:hover {
            color: $violetatitulos;
        }
    }
}

.formIndex {
    background-color:$backrosaclaro;
    .formIndex__p--font {
        color: $rosalogo;
    }
    label {
        color: $rosaviejo1;
    }
}


form label {
    color: $rosaviejo1;
}

.inputIndex {
    color:$gris;
    border-color:$rosaviejo1;
}

.submit {
    background-color: $rosaviejo2;
    color: white;   
    &:hover {
        background-color: pink;
    }
}


/* footer */

footer {
    .footer__h3--colors {
    color: white;
    background-color: $rosaviejo2;
    }
}


.footerNav {
    h1 {
    color: $rosaviejo1;
    }
    .contactos {
        color: $rosaviejo1;
    }
    ul li{
        color: $gris;
        a{
            text-decoration: none;
            &:hover {
            color: $rosaviejo1;
            transition: all 1s;
            }
        }
    }
}

.legals__p--font {
    color: $gris;
}

/* ABOUT US */  

/* WELCOME ABOUT US */

.containerAboutUsText {

    h2 {
        color: $violetaoscuro;
    }

    p {
        color:$gris;
        span {
            color:$violetatitulos;
        }
    }

    .descriptionAboutUs2 {
        color:$violetatitulos;
    }

    h6 {
        color: $rosalogo;
    }

}

article div {

    h3 {
        color:$rosaviejo1;
    }

    p {
        color:$gris;
    }
}



/* HOW WE WORK */

.howWeWork article h2 {
    color:$rosalogo;
    background-color:$backrosaclaro;
}



/* MODELOS */

.backModelosText {
    color: $rosaviejo1;
    background-color: hsla(0%, 50%, 100%, .7)
}

/* MODALS */

.modal-header {
    background-color: $backrosaclaro;
    color: $rosaviejo2;
}

button .close {
    color: $rosaviejo1;
    opacity: 0.8;
}

.modal-body {
    background-color: rgb(250, 236, 246);
}

.buttonModal {
    background-color: $backrosaclaro;
    color: $rosaviejo2;
    a {
        color: unset;
    }
}

/* CAROUSEL */

.carrouselCustom {
    background-color:$backrosaclaro;
    img {
        border: solid 3px white;
    }
}


/* ACCORDION */

#accordion {
    .card {
        background-color:white;
    }
    .btn-link {
        color: $violetatitulos
    }
    .card-header {
        border: solid 1px $backrosaclaro;
        background-color: white;
    }
}

/* MAIN MODELOS */

.containerModelos {
    background-color:$backrosaclaro;
    h1 {
        color: $rosaviejo1;
    }
    h2 {
        color: $rosalogo;
    }
    h3 {
        color: $violetatitulos;
    }
    p {
        color: $gris;
    }
    span {
        color: $violetatitulos;
    }
}


.listText {
    color:$gris;
}

.flexList p {
    color:$rosalogo;
}

/*ENCUADERNADOS*/

.purple-div {
    background-color:$violetatitulos;
}

/* CONTACTO */

/* SECCION REDES */

.secRedes--background {
    background-color: white;
}

.artRedes__h1--font {
    color:$rosalogo;
}

/* MAIN SECTION CONTACTO  */

.contactanosDiv {
    h1 {
        background-color: $rosaviejo2;
        color: white;
    }
    p {
        color: $gris;
    }
}

.contactoLi {
    h3 {
        color: $violetatitulos;        
    }
    li {
        color: $gris;
        span {
            color: $rosalogo;
        }
    }
}

/* FORM CONTACT */

#contact form legend {
    color:$rosalogo;
}

fieldset {
    border-color: $rosaviejo2;

}

.textArea {
    color:$rosaviejo2;
    border: solid 2px $rosaviejo2;
}

.cierreContact {
    background-color:$backrosaclaro;
    .cierreContact__h1--font {
        color:$violetatitulos;
    }
    .cierreContact__p--font {
        color:$gris;
    }
}


/* 404 */

.container404 {
    background-color: $backrosaclaro;
    h1 {
        color:$rosalogo;
    }

    h2 {
        color:$rosalogo;
    }

    p {
        color:$gris;
    }

    .button404 {
        color:$rosaviejo2;
        &:hover {
            color:$rosalogo;
        }
    }

}

