
/* HEADER */

/* MENU HAMBURGUESA */

.navbar-dark .navbar-toggler-icon {
    background-image: url(../assets/images/menu-icon.png);
}

.menuHamburg .pos-f-t li {
    border-radius: 10px;
}

/* MENU DESKTOP */

@mixin hover-scale($scale, $transition) {
    transform:scale($scale);
    transition: $transition; 
}

.navMedia li:hover{
    @include hover-scale(1.2, 1s);
}


header nav ul li{
    border-radius: 10px;
    &:hover {
        @include hover-scale(1.2, 1s);
    }
}

.logo-main:hover {
    @include hover-scale(1.2, 1s);
}

/* WELCOME INDEX */

  .artWelcomeIndex__divBackImg--overflow {
    overflow: hidden;
  }
  
  .divBackImg__img--opacity{
    opacity: 0.4;
  }
  
  /* FORM INDEX */


.formIndex__img--scalex {
    transform: scaleX(-1);
}

.inputIndex {
    border-style: solid;
    border-radius: 10px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.submit {
    border: 2px solid rgb(236, 209, 209);
    border-radius: 10px;
    &:hover {
        transition: 1s;
    }
}

/* footer */

.flexFooterSocial img:hover {
    @include hover-scale(1.1, 1s);
}

.footerNav ul li:hover{
    transition: 0.5s;
}

/* ABOUT US */  

.containerAboutUsText {
    overflow: hidden;
}


/* MODELOS */

/* ACCORDION */

#accordion {
    .card {
        border-radius: 10px;
    }
    .card-header {
        border-radius: 10px;
    }
}

.carrouselCustom {
    overflow: hidden !important;
}


/* NAV MODELOS */

#white-diary {
    transform: scaleX(-1);
}

/* MAIN MODELOS */

.imgModelos:hover {
    @include hover-scale(1.5, 1s);
}

.containerImgModelos div img:hover {
    @include hover-scale(1.2, 1s);
}

/*ENCUADERNADOS*/

.imgEncuadernados:hover {
    @include hover-scale(1.2, 1s);
}


/* CONTACTO */

/* SECCION REDES */

.qrCode:hover {
    transform: scale(3) translateY(-30px);
    transition: 1s;
}

/* MAIN SECTION CONTACTO  */

/* FORM CONTACT */


fieldset { 
    border-style: solid 3px;
    border-radius: 15px;
}

.textArea {
    border-radius: 10px;
}



/* 404 */

.container404 {
    .button404 {
        &:hover {
            transition: 1s;
        }
    }

    .animate__animated.animate__bounce {
        animation-iteration-count: infinite;
    }

}

