$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$playball: 'Playball', sans-serif;


a ul{ 
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin font-style($family, $align, $weight) {
    font-family: $family;
    text-align: $align;
    font-weight: $weight;
}


/* HEADER */


/* MENU HAMBURGUESA */

.menuHamburg {
    .pos-f-t li {
        list-style: none;
        @include font-style($source, center, bold);
    }
}

/* MENU DESKTOP */


header nav ul li{
    list-style: none;
    @include font-style($roboto, center, bold);
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: none;
}

.navMedia {
    list-style: none;
}


/* WELCOME INDEX */

  .divText__h1--font{
    font: {
        family: $playball;
    }
  }
  
  .divText__h2--font{
    font-family: $source;
  }
  
  
  .divText__p--font{
    @include font-style($source, left, bold);
  }
  
  /* FORM INDEX */

.formIndex__p--font {
    @include font-style($source, left, bold);
    
}


form label {
    font-family: $source;
}

.inputIndex {
    font-family: $roboto;
}

.submit {
    @include font-style($roboto, center, bold);
}

/* footer */

.footer__h3--font {
    font-family: $source;
    text-align: center;
}


.footerNav {
    h1 {
    font-family: $roboto;
    }
    ul li {
        font-family: $source;
        list-style: none;
    }
    .contactos {
        font-weight: bold;
    }
}

.legals__p--font  {
    font-family: $source;
}

/* ABOUT US */  

/* WELCOME ABOUT US */


.containerAboutUsText {

    h2 {
        font-family: $source;
    }

    p {
        font-family: $source;
        font-weight: bold;
    }

    .descriptionAboutUs2 {
        font-weight: bold;
    }

    h6 {
        font-family: $playball;
        text-align: center;
    }

}

article div {

    h3 {
        font-family: $roboto;
    }

    p {
        font-family: $source;
    }
}


/* HOW WE WORK */

.howWeWork article h2 {
    text-align: center;
    font-family: $roboto;
    text-transform: uppercase;
}



/* MODELOS */

.backModelosText {
    font-weight: bold;
    background-color: hsla(0%, 50%, 100%, .7)
}

/* MODALS */

.buttonModal {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    a {
        text-decoration: none;
    }
}

/* ACCORDION */


#accordion .btn-link {
    text-decoration: none;
    font-weight: bold;
}

/* NAV MODELOS */


/* MAIN MODELOS */

.containerModelos {
    h1 {
        font-family: $playball;
    }
    h2 {
        font-family: $source;
    }
    h3 {
        font-family: $source;
    }
    p {
        font-family: $source;
    }
    span {
        font-weight: bold;
    }
}

.listText {
    font-family: $roboto;
}


/* CONTACTO */

/* SECCION REDES */

.artRedes__h1--font {
    font-family: $roboto;
    text-align: center;
}

/* MAIN SECTION CONTACTO  */


.contactanosDiv {
    h1 {
    font-family: $source;
    text-align: center;
    }
    p {
        font-family: $source;
    }
}

/* FORM CONTACT */

.cierreContact__h1--font {
    font-family: $roboto;
    text-align: center;
}

.cierreContact__p--font {
    font-family: $source;
    text-align: center;
}



/* 404 */

.container404 {

    h1 {
        text-align: left;
    }

    p {
        font-family: $source;
    }

    .button404 {
        @include font-style($roboto, center, bold);
        text-decoration: none;
    }

}

