
$p-desk: 20px;
$li-desk: 18px;

$size-p: 20px;
$icon-desktop: 40px;

/* MENU HAMBURGUESA */ 

.menuHamburg .pos-f-t li {
    font-size: $li-desk;
}

.navbar-toggler-icon {
    width: $icon-desktop;
    height: $icon-desktop;
    padding-left: 15px;
}


/* MENU DESKTOP */

.logo-main {
    height: 60px;
}

.social-icon {
    height: $icon-desktop;
}

.div-pink {
    height: 5px;
}

header nav ul li{
    font-size: $li-desk;
}

/* WELCOME INDEX */

  
  .artWelcomeIndex__divBackImg--height {
      max-height: 445px;
  }

  .divText__h1--font{
    font-size: 45px;
  }
  
  .divText__p--font{
    font-size: $p-desk;
  }
  

/* FORM INDEX */

.formIndex__p--font {
    font-size: 25px;
}


form label {
    font-size: $p-desk;
}

.inputIndex {
    height: 35px;
    width: 350px;
}

.submit {
    height: 50px;
    width: 100px;
}

/* footer */


.footer__h3--font {
    font-size: 30px;
}


.footerNav {
    h1 {
    font-size: 22px;
    }
    ul li {
        font-size: $size-p;
    }
}

.legals__p--font  {
    font-size: $size-p;
}

.legals__img--size {
    height: 25px;
}

/* ABOUT US */  

/* WELCOME ABOUT US */


.backgroundAboutUs {
    width: (25% + 25%) * 2;
}


.containerAboutUsText {

    h2 {
        font-size: $size-p * 2;
    }

    p {
        font-size: 18px;
        width: 60%;
    }

    h6 {
        font-size: 30px;
    }
}


article div {
    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }
}


/* HOW WE WORK */


.howWeWork {

    article h2 {
        font-size: $size-p + 20;
    }
    
    div img {
        height: 60px;
    }
}

/* MODELOS */

/* MODALS */

.buttonModal {
    height: 50px; 
    font-size: 15px;
}

.modal-dialog {
    width: 100%;
  }


/* CAROUSEL */

.backModelos {
    width: 100%;
}

.carrouselCustom img {
    max-height: 300px;
    max-width: 550px;
}


/* NAV MODELOS */

#white-diary {
    width: 150px;
}

/* MAIN MODELOS */


.containerModelos {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}


.listText {
    font-size: $li-desk;
}

.imgModelos {
    max-height: 200px;
}

/*ENCUADERNADOS*/

.imgEncuadernados {
    height: 300px;
}

.purple-div {
    height: 5px;
    width: 200px;
}

/* CONTACTO */

/* SECCION REDES */

.artRedes__h1--font {
    font-size: 35px;
}


.divRedes__img--size {
    height: 100px;
}

.qrCode {
    height: 100px;
}


/* MAIN SECTION CONTACTO  */


.contactanosDiv {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 22px;
        width: 80%;
    }
}

.contactoLi {
    h3 {
        font-size: 30px;
    }
    li {
    font-size: 25px;
    }
}



/* FORM CONTACT */

.textArea {
    height: 200px;
}

.textArea::placeholder {
    width: 60%;
}

.cierreContact {
    height: 200px;
    .cierreContact__h1--font {
        font-size: 40px;
    }
    .cierreContact__p--font {
        font-size: 25px;
    }
}


/* 404 */

.container404 {
    width: 100%;
    height: 100%;

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
        width: 60%;
    }

    p {
        font-size: 25px;
        width: 60%;
    }

    .button404 {
        font-size: 25px;
    }

}


